<div class="row">
    <div class="col-md-12 div_header">
        Emotions
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <div class="row emotions_row_a">

            <div class="col-md-4 emotion_choice">
                <label>
                    <input type="radio" name="a" value="joy">
                </label> Alegria
            </div>

            <div class="col-md-4 emotion_choice_none">
                <label>
                    <input type="radio" name="a" value="none" checked>
                </label> Ninguna
            </div>

            <div class="col-md-4 emotion_choice">
                <label>
                    <input type="radio" name="a" value="sadness">
                </label> Tristeza
            </div>

        </div>


        <div class="row emotions_row_b">

            <div class="col-md-4 emotion_choice">
                <label>
                    <input type="radio" name="b" value="trust">
                </label> Confianza
            </div>

            <div class="col-md-4 emotion_choice_none">
                <label>
                    <input type="radio" name="b" value="none" checked>
                </label> Ninguna
            </div>

            <div class="col-md-4 emotion_choice">
                <label>
                    <input type="radio" name="b" value="disgust">
                </label> Desagrado
            </div>

        </div>


        <div class="row emotions_row_a">

            <div class="col-md-4 emotion_choice">
                <label>
                    <input type="radio" name="c" value="fear">
                </label> Miedo
            </div>

            <div class="col-md-4 emotion_choice_none">
                <label>
                    <input type="radio" name="c" value="none" checked>
                </label> Ninguna
            </div>

            <div class="col-md-4 emotion_choice">
                <label>
                    <input type="radio" name="c" value="anger">
                </label> Ira
            </div>

        </div>


        <div class="row emotions_row_b">

            <div class="col-md-4 emotion_choice">
                <label>
                    <input type="radio" name="d" value="surprise">
                </label> Sorpresa
            </div>

            <div class="col-md-4 emotion_choice_none">
                <label>
                    <input type="radio" name="d" value="none" checked>
                </label> Ninguna
            </div>

            <div class="col-md-4 emotion_choice">
                <label>
                    <input type="radio" name="d" value="anticipation">
                </label> Prevision
            </div>

        </div>

        <div class="row ">
        </div>

        <div class="row emotions_row_a">
            <div class="col-md-2">
            </div>

            <div class="col-md-4 emotion_choice">
                <label>
                    <input type="radio" name="ironic" value="not_ironic" checked>
                </label> No ironico
            </div>


            <div class="col-md-4 emotion_choice">
                <label>
                    <input type="radio" name="ironic" value="ironic">
                </label> Ironico
            </div>

        </div>

    </div>
</div>
