{% include 'head.html' %}
<main>

    <form action="/add" method="get">
        <button type="submit" class="btn btn-success">Add Tweet</button>
    </form>

    <div>
        <div class="row">English Frontend</div>
        <div class="row">
            <form action="/en/classify" method="get">
                <button type="submit" class="btn btn-success">Classify Tweets</button>
            </form>

            <form action="/en/validate" method="get">
                <button type="submit" class="btn btn-success">Validate Tweets</button>
            </form>
        </div>
    </div>
    <div>
        <div class="row">Interfaz en Español</div>
        <div class="row">
            <form action="/es/classify" method="get">
                <button type="submit" class="btn btn-success">Clasificar Tweets</button>
            </form>

            <form action="/es/validate" method="get">
                <button type="submit" class="btn btn-success">Validar Tweets</button>
            </form>
        </div>
    </div>
</main>
{% include 'foot.html' %}