{% include 'head.html' %}

<nav id="menu"></nav>
<div id="map_container" style="width: 100%;min-height: 75%">
    <nav id='filter-group-categoria' class='filter-group' style='top: 4em;'></nav>
    <!--
    <div class="side-by-side clearfix"
     style="position:absolute;left:1em;top:24em;z-index: 1;border-radius: 3px 3px 3px 3px; background-color: #3386c0;
                display: block;cursor: pointer;padding: 5px;width:0px">
            </div> -->
    <nav class="filter-group" id='filter-rating' style='top:32em'></nav>
    <div id='map' style="height: 100%;width: 100%;"></div>
</div>

{% include 'foot.html' %}
