<div class="row div_header">
    <div class="col-md-12 div_header">Sentiments</div>
</div>

<div class="row">

    <div class="panel-group" id="sentiments_acordion" style="width: 100%">
        <div class="panel panel-default">
            <a data-toggle="collapse" data-parent="#sentiments_acordion"
               href="#collapse_happy">
                <div class="acordion_heads ">
                    <div class="panel-title div_happy_header sentiment_header">
                        Happy
                    </div>
                </div>
            </a>
            <div id="collapse_happy" class="panel-collapse collapse">
                <div class="panel-body div_happy sentiment_body">
                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="love">
                            </label> Love
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="delight">
                            </label> Delight
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="pride">
                            </label> Pride
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="optimism">
                            </label> Optimism
                        </div>
                    </div>
                </div>
            </div>

            <a data-toggle="collapse" data-parent="#sentiments_acordion"
               href="#collapse_sad">
                <div class="acordion_heads ">
                    <div class="panel-title sentiment_header div_sad_header">
                        Sad
                    </div>
                </div>
            </a>
            <div id="collapse_sad" class="panel-collapse collapse">
                <div class="panel-body div_sad sentiment_body">
                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="guilt">
                            </label> Guilt
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="sentimentality">
                            </label> Sentimentality
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="despair">
                            </label> Despair
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="shame">
                            </label> Shame
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="disappointment">
                            </label> Disappointment
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="remorse">
                            </label> Remorse
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="pessimism">
                            </label> Pessimism
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="pessimism">
                            </label> Fatalism
                        </div>
                    </div>

                </div>
            </div>

            <a data-toggle="collapse" data-parent="#sentiments_acordion"
               href="#collapse_angry">
                <div class="acordion_heads ">
                    <div class="panel-title sentiment_header div_angry_header">
                        Angry
                    </div>
                </div>
            </a>
            <div id="collapse_angry" class="panel-collapse collapse">
                <div class="panel-body div_angry sentiment_body">
                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="alarm">
                            </label> Alarm
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="outrage">
                            </label> Outrage
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="envy">
                            </label> Envy
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="contempt">
                            </label> Contempt
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="cynism">
                            </label> Cynism
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="aggression">
                            </label> Aggression
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="anxiety">
                            </label> Anxiety
                        </div>
                    </div>

                </div>

            </div>

            <a data-toggle="collapse" data-parent="#sentiments_acordion"
               href="#collapse_indifferent">
                <div class="acordion_heads ">
                    <div class="panel-title sentiment_header div_indifferent_header">

                        Indiferent
                    </div>
                </div>
            </a>
            <div id="collapse_indifferent" class="panel-collapse collapse">
                <div class="panel-body div_indifferent sentiment_body">
                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="submission">
                            </label> Submission
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>

                                <input type="radio" name="sentiment" value="dominance">
                            </label> Dominance
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>

                                <input type="radio" name="sentiment" value="curiosity">
                            </label> Curiosity
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>

                                <input type="radio" name="sentiment" value="morbidness">
                            </label> Morbidness
                        </div>
                    </div>
                </div>
            </div>

            <a data-toggle="collapse" data-parent="#sentiments_acordion"
               href="#collapse_none">
                <div class="acordion_heads ">
                    <div class="panel-title sentiment_header div_none_header">
                        None
                    </div>
                </div>
            </a>
            <div id="collapse_none" class="panel-collapse collapse">
                <div class="panel-body div_none sentiment_body">
                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="none" checked>
                            </label> None
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>