<div class="row div_header">
    <div class="col-md-12 div_header">Sentiments</div>
</div>

<div class="row">

    <div class="panel-group" id="sentiments_acordion" style="width: 100%">
        <div class="panel panel-default">
            <a data-toggle="collapse" data-parent="#sentiments_acordion"
               href="#collapse_happy">
                <div class="acordion_heads ">
                    <div class="panel-title div_happy_header sentiment_header">
                        Feliz
                    </div>
                </div>
            </a>
            <div id="collapse_happy" class="panel-collapse collapse">
                <div class="panel-body div_happy sentiment_body">
                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="love">
                            </label> Amor
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="delight">
                            </label> Placer
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="pride">
                            </label> Orgullo
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="optimism">
                            </label> Optimismo
                        </div>
                    </div>
                </div>
            </div>

            <a data-toggle="collapse" data-parent="#sentiments_acordion"
               href="#collapse_sad">
                <div class="acordion_heads ">
                    <div class="panel-title sentiment_header div_sad_header">
                        Triste
                    </div>
                </div>
            </a>
            <div id="collapse_sad" class="panel-collapse collapse">
                <div class="panel-body div_sad sentiment_body">
                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="guilt">
                            </label> Culpa
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="sentimentality">
                            </label> Sentimentalismo
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="despair">
                            </label> Desesperacion
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="shame">
                            </label> Verguenza
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="disappointment">
                            </label> Decepcion
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="remorse">
                            </label> Remordimiento
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="pessimism">
                            </label> Pesimismo
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="pessimism">
                            </label> Fatalismo
                        </div>
                    </div>

                </div>
            </div>

            <a data-toggle="collapse" data-parent="#sentiments_acordion"
               href="#collapse_angry">
                <div class="acordion_heads ">
                    <div class="panel-title sentiment_header div_angry_header">
                        Enojado
                    </div>
                </div>
            </a>
            <div id="collapse_angry" class="panel-collapse collapse">
                <div class="panel-body div_angry sentiment_body">
                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="alarm">
                            </label> Alerta
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="outrage">
                            </label> Indignacion
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="envy">
                            </label> Envidia
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="contempt">
                            </label> Desprecio
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="cynism">
                            </label> Cinismo
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="aggression">
                            </label> Agresion
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="anxiety">
                            </label> Ansiedad
                        </div>
                    </div>

                </div>

            </div>

            <a data-toggle="collapse" data-parent="#sentiments_acordion"
               href="#collapse_indifferent">
                <div class="acordion_heads ">
                    <div class="panel-title sentiment_header div_indifferent_header">
                        Indiferente
                    </div>
                </div>
            </a>
            <div id="collapse_indifferent" class="panel-collapse collapse">
                <div class="panel-body div_indifferent sentiment_body">
                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="submission">
                            </label> Sumisión
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>

                                <input type="radio" name="sentiment" value="dominance">
                            </label> Dominacion
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>

                                <input type="radio" name="sentiment" value="curiosity">
                            </label> Curiosidad
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>

                                <input type="radio" name="sentiment" value="morbidness">
                            </label> Morbosidad
                        </div>
                    </div>
                </div>
            </div>

            <a data-toggle="collapse" data-parent="#sentiments_acordion"
               href="#collapse_none">
                <div class="acordion_heads ">
                    <div class="panel-title sentiment_header div_none_header">
                        Nada
                    </div>
                </div>
            </a>
            <div id="collapse_none" class="panel-collapse collapse">
                <div class="panel-body div_none sentiment_body">
                    <div class="row">
                        <div class="col-md-12">
                            <label>
                                <input type="radio" name="sentiment" value="none" checked>
                            </label> Nada
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>