<link href='https://api.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet'/>
<link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.css"/>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet'/>

<style>
    body, html {
        height: 100%;
    }

    #map_container {
        min-height: 800px;
        position: relative;
        width: 100%;
        margin: 10px auto;
    }

    #map {
        min-height: 90%;
        height: 800px;
        position: relative;
        width: 100%;
    }

    .filter-group {
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-weight: 300;
        position: absolute;
        left: 1em;
        z-index: 1;
        border-radius: 3px;
        width: 120px;
        color: #fff;
    }

    .filter-group input[type=text] {
        border-radius: 3px 3px 3px 3px;
        border: none;
        width: 160px;
    }

    .filter-group input[type=checkbox]:first-child + label {
        border-radius: 3px 3px 0 0;
    }

    .filter-group label:last-child {
        border-radius: 0 0 3px 3px;
        border: none;
    }

    .filter-group input[type=checkbox] {
        display: none;
    }

    .filter-group input[type=checkbox] + label, input[type=text] {
        background-color: #3386c0;
        display: block;
        cursor: pointer;
        padding: 5px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    }

    .filter-group input[type=checkbox] + label, input[type=text] {
        background-color: #3386c0;
        text-transform: capitalize;
    }

    .filter-group input[type=checkbox] + label:hover,
    .filter-group input[type=checkbox]:checked + label {
        background-color: #4ea0da;
    }

    .filter-group input[type=checkbox]:checked + label:before {
        content: '✔';
        margin-right: 5px;
    }

    #menu {
        background: #fff;
        position: absolute;
        z-index: 1;
        top: 10px;
        left: 10px;
        border-radius: 3px;
        width: 120px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        font-family: 'Open Sans', sans-serif;
    }

    #menu a {
        font-size: 13px;
        color: #404040;
        display: block;
        margin: 0;
        padding: 0;
        padding: 10px;
        text-decoration: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        text-align: center;
    }

    #menu a:last-child {
        border: none;
    }

    #menu a:hover {
        background-color: #f8f8f8;
        color: #404040;
    }

    #menu a.active {
        background-color: #3887be;
        color: #ffffff;
    }

    #menu a.active:hover {
        background: #3074a4;
    }

    #marquee_div {
        background-color: black;
        overflow: hidden;
        white-space: nowrap;
    }

    #top {
        background-color: black;
        animation: marquee linear infinite;
        animation-duration: 9s;
    }

    #middle {
        background-color: black;
        animation: marquee linear infinite;
        animation-duration: 10s;
    }

    #bottom {
        background-color: black;
        animation: marquee linear infinite;
        animation-duration: 11s;
    }

    @keyframes marquee {
        from {
            transform: translateX(110%);
        }
        to {
            transform: translateX(-110%);
        }
    }


</style>
