<link href='https://api.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet'/>
<link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.css"/>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet'/>

<style>
    body, html {
        height: 100%;
    }

    #map_container {
        min-height: 800px;
        position: relative;
        width: 100%;
        margin: 10px auto;
    }

    #map {
        min-height: 90%;
        top: 0;
        bottom: 0;
        height: 800px;
        position: relative;
        width: 100%;
    }

    .filter-group {
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-weight: 300;
        position: absolute;
        left: 1em;
        z-index: 1;
        border-radius: 3px;
        width: 120px;
        color: #fff;
    }

    .filter-group input[type=text] {
        border-radius: 3px 3px 3px 3px;
        border: none;
        width: 160px;
    }

    .filter-group input[type=checkbox]:first-child + label {
        border-radius: 3px 3px 0 0;
    }

    .filter-group label:last-child {
        border-radius: 0 0 3px 3px;
        border: none;
    }

    .filter-group input[type=checkbox] {
        display: none;
    }

    .filter-group input[type=checkbox] + label, input[type=text] {
        display: block;
        cursor: pointer;
        padding: 5px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    }

    .filter-group input[type=checkbox] + label, input[type=text] {
        text-transform: capitalize;
    }

    .filter-group input[type=checkbox] + label:hover,
    .filter-group input[type=checkbox]:checked + label {
        background-color: #4ea0da;
    }

    .filter-group input[type=checkbox]:checked + label:before {
        content: '✔';
        margin-right: 5px;
    }

    #menu {
        background: #fff;
        position: absolute;
        z-index: 1;
        top: 10px;
        left: 10px;
        border-radius: 3px;
        width: 120px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        font-family: 'Open Sans', sans-serif;
    }

    #menu a {
        font-size: 13px;
        color: #404040;
        display: block;
        margin: 0;
        padding: 0;
        padding: 10px;
        text-decoration: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        text-align: center;
    }

    #menu a:last-child {
        border: none;
    }

    #menu a:hover {
        background-color: #f8f8f8;
        color: #404040;
    }

    #menu a.active {
        background-color: #3887be;
        color: #ffffff;
    }

    #menu a.active:hover {
        background: #3074a4;
    }

    #marquee_div {
        background-color: black;
        overflow: hidden;
        white-space: nowrap;
    }

    #top {
        background-color: black;
        animation: marquee linear infinite;
        animation-duration: 9s;
    }

    #middle {
        background-color: black;
        animation: marquee linear infinite;
        animation-duration: 10s;
    }

    #bottom {
        background-color: black;
        animation: marquee linear infinite;
        animation-duration: 11s;
    }

    @keyframes marquee {
        from {
            transform: translateX(110%);
        }
        to {
            transform: translateX(-110%);
        }
    }

    .marker {
        background-image: url(https://image.flaticon.com/icons/svg/34/34343.svg);
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
    }

    .mapboxgl-popup {
        max-width: 200px;
    }

    .mapboxgl-popup-content {
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-primary:hover {
        background-color: #0069d9;
        border-color: #0062cc;
    }

    blockquote {
        display: block;
        background: #fff;
        padding: 15px 20px 15px 45px;
        margin: 0 0 20px;
        position: relative;

        /*Font*/
        font-family: Georgia, serif;
        font-size: 14px;
        line-height: 1.2;
        color: #666;

        /*Box Shadow - (Optional)*/
        -moz-box-shadow: 2px 2px 15px #ccc;
        -webkit-box-shadow: 2px 2px 15px #ccc;
        box-shadow: 2px 2px 15px #ccc;

        /*Borders - (Optional)*/
        border-left-style: solid;
        border-left-width: 15px;
        border-right-style: solid;
        border-right-width: 2px;
    }

    blockquote::before {
        content: "\201C"; /*Unicode for Left Double Quote*/

        /*Font*/
        font-family: Georgia, serif;
        font-size: 60px;
        font-weight: bold;
        color: #999;

        /*Positioning*/
        position: absolute;
        left: 10px;
        top: 5px;

    }

    blockquote::after {
        /*Reset to make sure*/
        content: "";
    }

    blockquote a {
        text-decoration: none;
        background: #eee;
        cursor: pointer;
        padding: 0 3px;
        color: #c76c0c;
    }

    blockquote a:hover {
        color: #666;
    }

    blockquote em {
        font-style: italic;
    }

    /*Default Color Palette*/
    blockquote.default {
        border-left-color: #656d77;
        border-right-color: #434a53;
    }

    /*Grapefruit Color Palette*/
    blockquote.grapefruit {
        border-left-color: #ed5565;
        border-right-color: #da4453;
    }

    /*Bittersweet Color Palette*/
    blockquote.bittersweet {
        border-left-color: #fc6d58;
        border-right-color: #e95546;
    }

    /*Sunflower Color Palette*/
    blockquote.sunflower {
        border-left-color: #ffcd69;
        border-right-color: #f6ba59;
    }

    /*Grass Color Palette*/
    blockquote.grass {
        border-left-color: #9fd477;
        border-right-color: #8bc163;
    }

    /*Mint Color Palette*/
    blockquote.mint {
        border-left-color: #46cfb0;
        border-right-color: #34bc9d;
    }

    /*Aqua Color Palette*/
    blockquote.aqua {
        border-left-color: #4fc2e5;
        border-right-color: #3bb0d6;
    }

    /*Blue Jeans Color Palette*/
    blockquote.bluejeans {
        border-left-color: #5e9de6;
        border-right-color: #4b8ad6;
    }

    /*Lavander Color Palette*/
    blockquote.lavander {
        border-left-color: #ad93e6;
        border-right-color: #977bd5;
    }

    /*Pinkrose Color Palette*/
    blockquote.pinkrose {
        border-left-color: #ed87bd;
        border-right-color: #d870a9;
    }

    /*Light Color Palette*/
    blockquote.light {
        border-left-color: #f5f7fa;
        border-right-color: #e6e9ed;
    }

    /*Gray Color Palette*/
    blockquote.gray {
        border-left-color: #ccd1d8;
        border-right-color: #aab2bc;
    }

    /* These CSS classes used just for Demo purpose */
    .heading {
        font-family: Montez;
        text-align: center;
        font-size: 30px;
    }

    code {
        color: #da4453;
    }

    span {
        font-weight: bolder;

    }

    h1 {
        text-align: left;
        font-size: 16px;
        font-family: 'Francois One', sans-serif;
    }

    span.Cdefault {
        color: #434a53;
    }

    span.Cgrapefruit {
        color: #da4453;
    }

    span.Cbittersweet {
        color: #e95546;
    }

    span.Csunflower {
        color: #f6ba59;
    }

    span.Cgrass {
        color: #8bc163;
    }

    span.Cmint {
        color: #34bc9d;
    }

    span.Caqua {
        color: #3bb0d6;
    }

    span.Cbluejeans {
        color: #4b8ad6;
    }

    span.Clavander {
        color: #977bd5;
    }

    span.Cpinkrose {
        color: #d870a9;
    }

    span.Clight {
        color: #e6e9ed;
    }

    span.Cgray {
        color: #aab2bc;
    }

    .quote-card {
        background: #fff;
        color: #222222;
        padding: 20px;
        box-sizing: border-box;
        box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12);
        position: relative;
        overflow: hidden;
        min-height: 120px;
    }

    .quote-card p {
        font-size: 13px;
        line-height: 1.5;
        margin: 0;
        max-width: 80%;
    }

    .quote-card cite {
        font-size: 16px;
        margin-top: 10px;
        display: block;
        font-weight: 200;
        opacity: 0.8;
    }

    .quote-card:before {
        font-family: Georgia, serif;
        content: "";
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 5em;
        color: rgba(238, 238, 238, 0.8);
        font-weight: normal;
    }

    .quote-card:after {
        font-family: Georgia, serif;
        content: "";
        position: absolute;
        bottom: -110px;
        line-height: 100px;
        right: -32px;
        font-size: 25em;
        color: rgba(238, 238, 238, 0.8);
        font-weight: normal;
    }

    @media (max-width: 640px) {
        .quote-card:after {
            font-size: 22em;
            right: -25px;
        }
    }

    .quote-card.Sadness-card {
        background: #0078FF;
        color: #ffffff;
        box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
    }

    .quote-card.Sadness-card:before, .quote-card.Sadness-card:after {
        color: #5FAAFF;
    }

    .quote-card.Joy-card {
        background: #00970B;
        color: #ffffff;
        box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
    }

    .quote-card.Joy-card:before, .quote-card.Joy-card:after {
        color: #59E063;
    }

    .quote-card.Anger-card {
        background: #F61E32;
        color: #ffffff;
        box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
    }

    .quote-card.Anger-card:before, .quote-card.Anger-card:after {
        color: #F65665;
    }

    .quote-card.Fear-card {
        background: #5c10b8;
        color: rgb(255, 255, 255);
        box-shadow: 0 1px 2px rgba(34, 34, 34, 0.12), 0 2px 4px rgba(34, 34, 34, 0.24);
    }

    .quote-card.Fear-card:before, .quote-card.Fear-card:after {
        color: #8a10f8;
    }

</style>
