<script>
    //PubNub init
    var pubnub = new PubNub({
        subscribeKey: '{{subscribe_key}}',
        publishKey: '{{publish_key}}',
        ssl: true
    });

    pubnub.subscribe({
        channels: ['Joy', 'Sadness', 'Anger', 'Fear']
    });

    //Mapbox init
    mapboxgl.accessToken = '{{map_access_token}}';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/outdoors-v10',
        center: [-58, -34],
        zoom: 3
    });

    map.on('load', function () {
        map.addSource('happy', {
            "type": "geojson",
            "data": happy_buffer,
            buffer: 0
        });

        map.addSource('sad', {
            "type": "geojson",
            "data": sad_buffer,
            buffer: 0
        });

        map.addSource('anger', {
            "type": "geojson",
            "data": angry_buffer,
            buffer: 0
        });

        map.addSource('fear', {
            "type": "geojson",
            "data": fear_buffer,
            buffer: 0
        });

        map.addControl(new mapboxgl.NavigationControl());

        map.addLayer({
            "id": "Happy",
            "type": "heatmap",
            "source": "happy",
            "layout": {
                'visibility': 'visible'
            },
            "paint": {
                "heatmap-intensity": {
                    "stops": [
                        [8, 1],
                        [15, 3]
                    ]
                },
                "heatmap-color": [
                    "interpolate",
                    ["linear"],
                    ["heatmap-density"],
                    0, "rgba(0,100,0,25)",
                    0.2, "rgba(34,139,34,50)",
                    0.4, "rgba(50,205,50,100)",
                    0.6, "rgba(0,255,0,150)",
                    0.8, "rgba(127,255,0,200)",
                    1, "rgba(173,255,47,255)"
                ],
                "heatmap-radius": {
                    "stops": [
                        [0, 7],
                        [15, 20]
                    ]
                },
                "heatmap-opacity": {
                    "default": 0.70,
                    "stops": [
                        [0, 0.75],
                        [15, 0.35]
                    ]
                }
            }
        }, 'waterway-label');
        map.addLayer({
            "id": "Sad",
            "type": "heatmap",
            "source": "sad",
            "layout": {
                'visibility': 'visible'
            },
            "paint": {
                "heatmap-intensity": {
                    "stops": [
                        [8, 1],
                        [15, 3]
                    ]
                },
                "heatmap-color": [
                    "interpolate",
                    ["linear"],
                    ["heatmap-density"],
                    0, "rgba(0,0,128,25)",
                    0.2, "rgba(0,0,205,50)",
                    0.4, "rgba(0,0,255,100)",
                    0.6, "rgba(65,105,225,150)",
                    0.8, "rgba(30,144,255,200)",
                    1, "rgba(0,191,255,255)"
                ],
                "heatmap-radius": {
                    "stops": [
                        [0, 7],
                        [15, 20]
                    ]
                },
                "heatmap-opacity": {
                    "default": 0.70,
                    "stops": [
                        [0, 0.75],
                        [15, 0.35]
                    ]

                }
            }
        }, 'waterway-label');
        map.addLayer({
            "id": "Anger",
            "type": "heatmap",
            "source": "anger",
            "layout": {
                'visibility': 'visible'
            },
            "paint": {
                "heatmap-intensity": {
                    "stops": [
                        [8, 1],
                        [15, 3]
                    ]
                },
                "heatmap-color": [
                    "interpolate",
                    ["linear"],
                    ["heatmap-density"],
                    0, "rgba(128,0,0,25)",
                    0.2, "rgba(139,0,0,50)",
                    0.4, "rgba(178,34,34,50)",
                    0.6, "rgba(220,20,60,50)",
                    0.8, "rgba(255,0,0,50)",
                    1, "rgba(255,69,0,50)"
                ],
                "heatmap-radius": {
                    "stops": [
                        [0, 7],
                        [15, 20]
                    ]
                },
                "heatmap-opacity": {
                    "default": 0.70,
                    "stops": [
                        [0, 0.75],
                        [15, 0.35]
                    ]
                }
            }
        }, 'waterway-label');
        map.addLayer({
            "id": "Fear",
            "type": "heatmap",
            "source": "fear",
            "layout": {
                'visibility': 'visible'
            },
            "paint": {
                "heatmap-intensity": {
                    "stops": [
                        [8, 1],
                        [15, 3]
                    ]
                },
                "heatmap-color": [
                    "interpolate",
                    ["linear"],
                    ["heatmap-density"],
                    0, "rgba(75,0,130,25)",
                    0.2, "rgba(128,0,128,50)",
                    0.4, "rgba(139,0,139,50)",
                    0.6, "rgba(148,0,211,50)",
                    0.8, "rgba(186,85,211,50)",
                    1, "rgba(238,130,238,50)"
                ],
                "heatmap-radius": {
                    "stops": [
                        [10, 10],
                        [15, 20]
                    ]
                },
                "heatmap-opacity": {
                    "default": 0.70,
                    "stops": [
                        [0, 0.75],
                        [15, 0.35]
                    ]
                }
            }
        }, 'waterway-label');

        var filterRating = document.getElementById('filter-rating');
        var inputRating = document.createElement('input');
        inputRating.type = 'text';
        inputRating.name = "rating";
        inputRating.id = "rating-slider";
        filterRating.appendChild(inputRating);

        $("#rating-slider").slider({
            step: 1,
            min: 1,
            max: 7,
            orientation: 'vertical',
            tooltip_position: 'right',
            value: 1,
            reversed: true
        });

        $('#rating-slider').on('slide', function (ev, picker) {
            map.setFilter('observations-point', null);
            map.setFilter('observations-heat', null);
            filterCategoria = construct_filter(h, ev.value);
            map.setFilter('observations-point', filterCategoria);
            map.setFilter('observations-heat', filterCategoria);
            console.log(ev.value);
            console.log(filterCategoria);
        });

        var popup = new mapboxgl.Popup({
            closeButton: false,
            closeOnClick: false
        });
    });


    //Buffers
    let happy_buffer = {
        "type": "FeatureCollection",
        "features": []
    };
    let sad_buffer = {
        "type": "FeatureCollection",
        "features": []
    };
    let angry_buffer = {
        "type": "FeatureCollection",
        "features": []
    };
    let fear_buffer = {
        "type": "FeatureCollection",
        "features": []
    };

    var prev = [];

    //PubNub callback
    pubnub.addListener({
        message: function (m) {
            var channel = m.channel;

            if (channel == "TopHtags") {
                update_top(m.words);
            }

            let feature = {
                "type": "Feature",
                "geometry": {
                    "type": "Point",
                    "coordinates": [m.message.lat, m.message.long]
                }
            };

            if (actual_filter_string !== "") {

                if (m.message.words.toLocaleLowerCase().indexOf(actual_filter_string) < 0) {
                    return;
                }
            }

            if (prev.length < 10) {
                var el = document.createElement('div');
                el.className = 'marker';

                // make a marker for each feature and add to the map
                var new_marker = new mapboxgl.Marker(el);
                new_marker.setLngLat([m.message.lat, m.message.long]);
                new_marker.setPopup(
                    new mapboxgl.Popup({offset: 25})
                        .setHTML('<h3>' + channel + '</h3><p>' + m.message.words + '</p>')
                );
                new_marker.addTo(map);
                prev.push([m.message.words, channel, new_marker])
            }

            if (channel === "Joy") {
                happy_buffer.features.push(feature);
                while (happy_buffer.length > {{buffer_max_size}}) {
                    happy_buffer.shift();
                }
                try {
                    map.getSource("happy").setData(happy_buffer);
                } catch (err) { //Needed because there is a race condition that breaks this
                    console.log("Not posted");
                }
            } else if (channel === "Sadness") {
                sad_buffer.features.push(feature);
                while (sad_buffer.length > {{buffer_max_size}}) {
                    sad_buffer.shift();
                }
                try {
                    map.getSource("sad").setData(sad_buffer);
                } catch (err) { //Needed because there is a race condition that breaks this
                    console.log("Not posted");
                }
            } else if (channel === "Anger") {
                angry_buffer.features.push(feature);
                while (angry_buffer.length > {{buffer_max_size}}) {
                    angry_buffer.shift();
                }
                try {
                    map.getSource("anger").setData(angry_buffer);
                } catch (err) { //Needed because there is a race condition that breaks this
                    console.log("Not posted");
                }
            } else if (channel === "Fear") {
                fear_buffer.features.push(feature);
                while (fear_buffer.length > {{buffer_max_size}}) {
                    fear_buffer.shift();
                }
                try {
                    map.getSource("fear").setData(fear_buffer);
                } catch (err) { //Needed because there is a race condition that breaks this
                    console.log("Not posted");
                }
            }

            console.log("New point at: ", channel);
        }
    });


    h = {'cat1': true, 'cat2': true, 'cat3': true, 'cat4': true, 'cat5': true, 'cat6': true, 'cat7': true};

    var toggleableLayerIds = ['Happy', 'Anger', 'Sad', 'Fear'];

    for (var i = 0; i < toggleableLayerIds.length; i++) {
        var id = toggleableLayerIds[i];

        var link = document.createElement('a');
        link.href = '#';
        link.className = 'active';
        link.textContent = id;

        link.onclick = function (e) {
            var clickedLayer = this.textContent;
            e.preventDefault();
            e.stopPropagation();

            var visibility = map.getLayoutProperty(clickedLayer, 'visibility');

            if (visibility === 'visible') {
                map.setLayoutProperty(clickedLayer, 'visibility', 'none');
                this.className = '';
            } else {
                this.className = 'active';
                map.setLayoutProperty(clickedLayer, 'visibility', 'visible');
            }
        };

        var layers = document.getElementById('menu');
        layers.appendChild(link);
    }


    var actual_filter_string = "";

    function clear_buffers() {
        happy_buffer.features.splice(0, happy_buffer.features.length);
        angry_buffer.features.splice(0, angry_buffer.features.length);
        fear_buffer.features.splice(0, fear_buffer.features.length);
        sad_buffer.features.splice(0, sad_buffer.features.length);

        try {
            map.getSource("happy").setData(happy_buffer);
            map.getSource("sad").setData(sad_buffer);
            map.getSource("anger").setData(angry_buffer);
            map.getSource("fear").setData(fear_buffer);
        } catch (err) { //Needed because there is a race condition that breaks this
            console.log("Not posted");
        }
    }

    function add_w_filter() {
        actual_filter_string = document.getElementById("w_filter").value;
        actual_filter_string = actual_filter_string.toLocaleLowerCase();
        clear_buffers();
        document.getElementById("h_filter").value = "";
    }

    function add_h_filter() {
        actual_filter_string = "#" + document.getElementById("h_filter").value;
        actual_filter_string = actual_filter_string.toLocaleLowerCase();
        clear_buffers();
        document.getElementById("w_filter").value = "";

    }

    function add_filter_from(button_id) {
        var hashtag = document.getElementById(button_id).innerText;
        hashtag = hashtag.substring(1);
        actual_filter_string = hashtag.toLocaleLowerCase();
        clear_buffers();
        document.getElementById("h_filter").value = hashtag;
        document.getElementById("w_filter").value = "";
    }

    function clear_filter() {
        actual_filter_string = "";
        clear_buffers();
    }

    function update_marquee_line(element) {
        var my_marquee = document.getElementById(element);
        my_marquee.style.color = "black";
        my_marquee.style.webkitAnimation = "none";

        var new_line = ["_", "", null];
        if (prev.length > 3) {
            if (!online) enable_online();
            new_line = prev.shift();
        } else {
            if (online) disable_online();
        }

        my_marquee.innerHTML = new_line[0];
        var new_color = "black";
        if (new_line[1] === "Joy") {
            new_color = "green";
        } else if (new_line[1] === "Sadness") {
            new_color = "blue";
        } else if (new_line[1] === "Anger") {
            new_color = "red";
        } else if (new_line[1] === "Fear") {
            new_color = "purple";
        }

        if (new_line[2]) {
            new_line[2].remove();
        }

        setTimeout(function () {
            my_marquee.style.webkitAnimation = "";
            my_marquee.style.color = new_color;
        }, 10);
    }

    var animation_div = document.getElementById("top");
    animation_div.addEventListener(
        "animationiteration",
        function () {
            update_marquee_line("top");
        },
        false
    );

    animation_div = document.getElementById("middle");
    animation_div.addEventListener(
        "animationiteration",
        function () {
            update_marquee_line("middle");
        },
        false
    );

    animation_div = document.getElementById("bottom");
    animation_div.addEventListener(
        "animationiteration",
        function () {
            update_marquee_line("bottom");
        },
        false
    );

    var online = false;

    function disable_online() {
        var online_button = document.getElementById("online_button");
        online_button.classList.remove('btn-success');
        online_button.classList.add('btn-danger');
        online_button.innerHTML = "* Offline *";
        online_button.disabled = true;
        online = false;
    }

    function enable_online() {
        var online_button = document.getElementById("online_button");
        online_button.classList.remove('btn-danger');
        online_button.classList.add('btn-success');
        online_button.innerHTML = "* Online *";
        online_button.disabled = false;
        online = true;
    }

    function update_top(top_htags) {
        {%for i in range(10)%}
            document.getElementById("top{{ i }}").innerText = top_htags[{{ i }}];
        {%endfor%}
    }
</script>
