.wrapper {
    min-height: 100% !important;
    height: 100% !important;
    margin: 0 auto -33px;
    background-color: #00b0ff;
}

.background{
  background-color: #BDBDBD
}

.tweet_text{
  background-color: #4dd0e1
}

.div_header{
 background-color: #26c6da
}
