<div class="row">
    <div class="col-md-12" style="text-align: center;background-color: #6200ea">
        Classification
    </div>
</div>

<div class="row" style="margin-top: 1em">
    <div class="col-md-12">

        <div class="row">

            <div class="col-md-4" style="text-align: justify">
                <label>
                    <input type="radio" name="a" value="joy">
                </label> Joy
            </div>

            <div class="col-md-4" style="text-align: justify">
                <label>
                    <input type="radio" name="a" value="none" checked>
                </label> None
            </div>

            <div class="col-md-4" style="text-align: justify">
                <label>
                    <input type="radio" name="a" value="sadness">
                </label> Sadness
            </div>

        </div>


        <div class="row">

            <div class="col-md-4" style="text-align: justify">
                <label>
                    <input type="radio" name="b" value="trust">
                </label> Trust
            </div>

            <div class="col-md-4" style="text-align: justify">
                <label>
                    <input type="radio" name="b" value="none" checked>
                </label> None
            </div>

            <div class="col-md-4" style="text-align: justify">
                <label>
                    <input type="radio" name="b" value="disgust">
                </label> Disgust
            </div>

        </div>


        <div class="row">

            <div class="col-md-4" style="text-align: justify">
                <label>
                    <input type="radio" name="c" value="fear">
                </label> Fear
            </div>

            <div class="col-md-4" style="text-align: justify">
                <label>
                    <input type="radio" name="c" value="none" checked>
                </label> None
            </div>

            <div class="col-md-4" style="text-align: justify">
                <label>
                    <input type="radio" name="c" value="anger">
                </label> Anger
            </div>

        </div>


        <div class="row">

            <div class="col-md-4" style="text-align: justify">
                <label>
                    <input type="radio" name="d" value="surprise">
                </label> Surprise
            </div>

            <div class="col-md-4" style="text-align: justify">
                <label>
                    <input type="radio" name="d" value="none" checked>
                </label> None
            </div>

            <div class="col-md-4" style="text-align: justify">
                <label>
                    <input type="radio" name="d" value="anticipation">
                </label> Anticipation
            </div>

        </div>

    </div>
</div>