{% include 'head.html' %}

<main>
    <!--Main layout-->
    <div class="container-fluid">

        <div class="row">

            <div class="card" style="width: 100%;padding: 1em">
                <form method="post" action="/add">
                    <div class="col-md-12" style="width: 100%">

                        <div class="row" style="padding: 1em 1em 0;background-color: #0091ea">

                            <div class="col-md-11 text-justify" style="padding: 0 0 0">
                                <label for="tweet_id">https://twitter.com/statuses/</label>
                                <input type="number" id="tweet_id" placeholder="<tweet id>" class="form-control"
                                       style="background-color: whitesmoke" name="tweet_id"><br>
                            </div>

                        </div>

                        <div class="row" style="margin-top: 1em">

                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12" style="text-align: center;background-color: #6200ea">
                                        Classification
                                    </div>
                                </div>

                                <div class="row" style="margin-top: 1em">
                                    <div class="col-md-12">

                                        <div class="row">

                                            <div class="col-md-4" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="a" value="joy">
                                                </label> Joy
                                            </div>

                                            <div class="col-md-4" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="a" value="none" checked>
                                                </label> None
                                            </div>

                                            <div class="col-md-4" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="a" value="sadness">
                                                </label> Sadness
                                            </div>

                                        </div>


                                        <div class="row">

                                            <div class="col-md-4" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="b" value="trust">
                                                </label> Trust
                                            </div>

                                            <div class="col-md-4" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="b" value="none" checked>
                                                </label> None
                                            </div>

                                            <div class="col-md-4" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="b" value="disgust">
                                                </label> Disgust
                                            </div>

                                        </div>


                                        <div class="row">

                                            <div class="col-md-4" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="c" value="fear">
                                                </label> Fear
                                            </div>

                                            <div class="col-md-4" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="c" value="none" checked>
                                                </label> None
                                            </div>

                                            <div class="col-md-4" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="c" value="anger">
                                                </label> Anger
                                            </div>

                                        </div>


                                        <div class="row">

                                            <div class="col-md-4" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="d" value="surprise">
                                                </label> Surprise
                                            </div>

                                            <div class="col-md-4" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="d" value="none" checked>
                                                </label> None
                                            </div>

                                            <div class="col-md-4" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="d" value="anticipation">
                                                </label> Anticipation
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">

                                {% include 'sentiments.html' %}

                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-success" name="action" value="finish">Go Back
                                </button>
                                <button type="submit" class="btn btn-success" name="action" value="add">Add</button>
                                <button type="submit" class="btn btn-success" name="action" value="skip">Add Another
                                </button>
                            </div>
                            <div class="col-md-2"></div>

                        </div>
                    </div>
                    <input type="hidden" name="lang" value="en">
                    <input type="hidden" name="tweet_id" value="25">
                </form>
            </div>

        </div>
    </div>

</main>
{% include 'foot.html' %}