{% include 'head.html' %}

<main>
    <!--Main layout-->
    <div class="container-fluid">

        <div class="row">

            <div class="card" style="width: 100%;padding: 1em">
                <form method="post" action="/add">
                    <div class="col-md-12" style="width: 100%">

                        <div class="row" style="padding: 1em 1em 0;background-color: #0091ea">

                            <div class="col-md-11 text-justify" style="padding: 0 0 0">
                                {% for line in tweet["tweet_text"].replace("&amp;","&").split("\n")%}
                                <p>{{line}}</p>
                                {% endfor%}
                            </div>

                            <div class="col-md-1" style="text-align: right;margin-bottom: 1em">
                                <div class="row">
                                    Translate this
                                </div>
                                <div class="row">
                                    <a href="https://translate.google.com/#auto/es/{{tweet['tweet_text']}}"
                                       target="_blank">
                                        <img src="http://www.ligaportal.at/international/images/wm2014/flaggen/256/Spanien.png"
                                             height="25em" width="25em" attributes="#" \>
                                    </a>

                                    <a href="https://translate.google.com/#auto/en/{{tweet['tweet_text']}}"
                                       target="_blank">
                                        <img src="https://rlv.zcache.co.uk/great_britain_flag_round_sticker-ra10ab1f0ca084de28068cce8dfbdbc9e_v9wth_8byvr_324.jpg"
                                             height="25em" width="25em" attributes="#" \>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top: 1em">

                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12" style="text-align: center;background-color: #6200ea">
                                        Classification
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="text-align: center;background-color: #6200ea"><br>
                                    </div>
                                </div>

                                <div class="row" style="margin-top: 1em">
                                    <div class="col-md-12">

                                        <div class="row">

                                            <div class="col-md-4" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="a" value="joy">
                                                </label> Joy
                                            </div>

                                            <div class="col-md-4" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="a" value="none" checked>
                                                </label> None
                                            </div>

                                            <div class="col-md-4" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="a" value="sadness">
                                                </label> Sadness
                                            </div>

                                        </div>


                                        <div class="row">

                                            <div class="col-md-4" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="b" value="trust">
                                                </label> Trust
                                            </div>

                                            <div class="col-md-4" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="b" value="none" checked>
                                                </label> None
                                            </div>

                                            <div class="col-md-4" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="b" value="disgust">
                                                </label> Disgust
                                            </div>

                                        </div>


                                        <div class="row">

                                            <div class="col-md-4" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="c" value="fear">
                                                </label> Fear
                                            </div>

                                            <div class="col-md-4" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="c" value="none" checked>
                                                </label> None
                                            </div>

                                            <div class="col-md-4" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="c" value="anger">
                                                </label> Anger
                                            </div>

                                        </div>


                                        <div class="row">

                                            <div class="col-md-4" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="d" value="surprise">
                                                </label> Surprise
                                            </div>

                                            <div class="col-md-4" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="d" value="none" checked>
                                                </label> None
                                            </div>

                                            <div class="col-md-4" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="d" value="anticipation">
                                                </label> Anticipation
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-12" style="text-align: center;background-color: #6200ea">Extra
                                        Data
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6" style="text-align: center;background-color: #651fff">Stats
                                    </div>
                                    <div class="col-md-6" style="text-align: center;background-color: #7c4dff">Tweet
                                        Info
                                    </div>
                                </div>
                                <div class="row">

                                    <script type="text/javascript">
                                        FusionCharts.ready(function () {
                                            var fusioncharts = new FusionCharts({
                                                    type: 'radar',
                                                    renderAt: "radar_{{tweet['tweet_id']|safe}}",
                                                    width: '100%',
                                                    height: '100%',
                                                    dataFormat: 'json',
                                                    dataSource: {
                                                        "chart": {
                                                            "theme": "fint",
                                                            "radarfillcolor": "#ffffff",
                                                        },
                                                        "categories": [{
                                                            "category": [{
                                                                "label": "Joy"
                                                            }, {
                                                                "label": "Trust"
                                                            }, {
                                                                "label": "Fear"
                                                            }, {
                                                                "label": "Surprise"
                                                            }, {
                                                                "label": "Sadness"
                                                            }, {
                                                                "label": "Disgust"
                                                            }, {
                                                                "label": "Anger"
                                                            }, {
                                                                "label": "Anticipation"
                                                            }]
                                                        }],
                                                        "dataset": [{
                                                            "seriesname": "Classification",
                                                            "data": [{
                                                                "value": "{{tweet['joy']}}"
                                                            }, {
                                                                "value": "{{tweet['trust']}}"
                                                            }, {
                                                                "value": "{{tweet['fear']}}"
                                                            }, {
                                                                "value": "{{tweet['surprise']}}"
                                                            }, {
                                                                "value": "{{tweet['sadness']}}"
                                                            }, {
                                                                "value": "{{tweet['disgust']}}"
                                                            }, {
                                                                "value": "{{tweet['anger']}}"
                                                            }, {
                                                                "value": "{{tweet['anticipation']}}"
                                                            }]
                                                        }]
                                                    }
                                                }
                                            );
                                            fusioncharts.render();
                                        });
                                    </script>

                                    <div id="radar_{{tweet['tweet_id']}}" class="col-md-6" style="height: 15em"></div>

                                    <div class="col-md-6" style="margin-top: 1em">
                                        <div class="card-block">

                                            <div class="read-more">
                                                <ul>
                                                    <li>Tweet lang: {{tweet["tweet_lang"]}}</li>
                                                    <li>Tweet user lang: {{tweet["tweet_user_lang"]}}</li>
                                                    <li>Tweet place: {{tweet["tweet_place"]}}</li>
                                                    <li>Tweet lang: {{tweet["tweet_mentions"]}}</li>
                                                    <li>Tweet Hashtags:
                                                        <ul>
                                                            {% for hashtag in tweet["tweet_hashtags"]%}
                                                            <li>{{hashtag}}</li>
                                                            {% endfor%}
                                                        </ul>
                                                    </li>
                                                    <li>Tweet Media:
                                                        <ul>
                                                            {% for media in tweet["tweet_media"]%}
                                                            <li>({{media}} - {{tweet["tweet_media"][media]}})</li>
                                                            {% endfor%}
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-12" style="text-align: center;background-color: #6200ea">
                                        Classification
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12" style="text-align: center;background-color: #6200ea"><br>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 0em">

                                    <div class="col-md-4" style="padding:0.5em;background-color: #00C851">

                                        <div class="row" style="padding: 0em;margin-top: 0em">

                                            <div class="col-md-12" style="text-align: center">
                                                Happy
                                            </div>

                                        </div>

                                        <div class="row" style="padding: 0em;margin-top: 1em">

                                            <div class="col-md-12" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="sentiment" value="love">
                                                </label> Love
                                            </div>

                                        </div>
                                        <div class="row" style="padding: 0em;margin-top: 0em">

                                            <div class="col-md-12" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="sentiment" value="delight">
                                                </label> Delight
                                            </div>

                                        </div>
                                        <div class="row" style="padding: 0em;margin-top: 0em">

                                            <div class="col-md-12" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="sentiment" value="pride">
                                                </label> Pride
                                            </div>

                                        </div>
                                        <div class="row" style="padding: 0em;margin-top: 0em">

                                            <div class="col-md-12" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="sentiment" value="optimism">
                                                </label> Optimism
                                            </div>

                                        </div>

                                    </div>

                                    <div class="col-md-4" style="padding:0.5em;background-color: #31b0d5">

                                        <div class="row" style="padding: 0em;margin-top: 0em">

                                            <div class="col-md-12" style="text-align: center">
                                                Sad
                                            </div>

                                        </div>

                                        <div class="row" style="padding: 0em;margin-top: 1em">

                                            <div class="col-md-12" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="sentiment" value="guilt">
                                                </label> Guilt
                                            </div>

                                        </div>
                                        <div class="row" style="padding: 0em;margin-top: 0em">

                                            <div class="col-md-12" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="sentiment" value="sentimentality">
                                                </label> Sentimentality
                                            </div>

                                        </div>
                                        <div class="row" style="padding: 0em;margin-top: 0em">

                                            <div class="col-md-12" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="sentiment" value="despair">
                                                </label> Despair
                                            </div>

                                        </div>
                                        <div class="row" style="padding: 0em;margin-top: 0em">

                                            <div class="col-md-12" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="sentiment" value="shame">
                                                </label> Shame
                                            </div>

                                        </div>
                                        <div class="row" style="padding: 0em;margin-top: 0em">

                                            <div class="col-md-12" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="sentiment" value="disappointment">
                                                </label> Disappointment
                                            </div>
                                        </div>
                                        <div class="row" style="padding: 0em;margin-top: 0em">

                                            <div class="col-md-12" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="sentiment" value="remorse">
                                                </label> Remorse
                                            </div>
                                        </div>
                                        <div class="row" style="padding: 0em;margin-top: 0em">

                                            <div class="col-md-12" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="sentiment" value="pessimism">
                                                </label> Pessimism
                                            </div>
                                        </div>
                                        <div class="row" style="padding: 0em;margin-top: 0em">

                                            <div class="col-md-12" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="sentiment" value="pessimism">
                                                </label> Fatalism
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-4" style="padding:0.5em;background-color: #c83035">

                                        <div class="row" style="padding: 0em;margin-top: 0em">

                                            <div class="col-md-12" style="text-align: center">
                                                Angry
                                            </div>

                                        </div>

                                        <div class="row" style="padding: 0em;margin-top: 1em">

                                            <div class="col-md-12" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="sentiment" value="alarm">
                                                </label> Alarm
                                            </div>

                                        </div>
                                        <div class="row" style="padding: 0em;margin-top: 0em">

                                            <div class="col-md-12" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="sentiment" value="outrage">
                                                </label> Outrage
                                            </div>

                                        </div>
                                        <div class="row" style="padding: 0em;margin-top: 0em">

                                            <div class="col-md-12" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="sentiment" value="envy">
                                                </label> Envy
                                            </div>

                                        </div>
                                        <div class="row" style="padding: 0em;margin-top: 0em">

                                            <div class="col-md-12" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="sentiment" value="contempt">
                                                </label> Contempt
                                            </div>

                                        </div>
                                        <div class="row" style="padding: 0em;margin-top: 0em">

                                            <div class="col-md-12" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="sentiment" value="cynism">
                                                </label> Cynism
                                            </div>
                                        </div>
                                        <div class="row" style="padding: 0em;margin-top: 0em">

                                            <div class="col-md-12" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="sentiment" value="aggression">
                                                </label> Aggression
                                            </div>

                                        </div>
                                        <div class="row" style="padding: 0em;margin-top: 0em">

                                            <div class="col-md-12" style="text-align: justify">
                                                <label>
                                                    <input type="radio" name="sentiment" value="anxiety">
                                                </label> Anxiety
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div class="row" style="margin-top: 0">
                                    <div class="col-md-12" style="text-align: center;background-color: #aa66cc">
                                        Indifferent
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 0em;background-color: #aa66cc">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-4" style="padding-top: 0.5em">
                                        <label>
                                            <input type="radio" name="sentiment" value="submission">
                                        </label> Submission
                                    </div>
                                    <div class="col-md-4" style="padding-top: 0.5em">
                                        <label>
                                            <input type="radio" name="sentiment" value="dominance">
                                        </label> Dominance
                                    </div>
                                    <div class="col-md-2"></div>

                                </div>
                                <div class="row" style="margin-top: 0em;background-color: #aa66cc">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-4" style="padding-top: 0.5em">
                                        <label>
                                            <input type="radio" name="sentiment" value="curiosity">
                                        </label> Curiosity
                                    </div>
                                    <div class="col-md-4" style="padding-top: 0.5em">
                                        <label>
                                            <input type="radio" name="sentiment" value="morbidness">
                                        </label> Morbidness
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                                <div class="row" style="margin-top: 0em">
                                    <div class="col-md-4" style="background-color: #b9bbbe"></div>
                                    <div class="col-md-4" style="background-color: #b9bbbe;padding-top: 0.5em">
                                        <label>
                                            <input type="radio" name="sentiment" value="none" checked>
                                        </label> None
                                    </div>
                                    <div class="col-md-4" style="background-color: #b9bbbe"></div>
                                </div>

                            </div>

                            <script type="text/javascript">
                                FusionCharts.ready(function () {
                                    var fusioncharts = new FusionCharts({
                                            type: 'radar',
                                            renderAt: "radar2_{{tweet['tweet_id']|safe}}",
                                            width: '100%',
                                            height: '100%',
                                            dataFormat: 'json',
                                            dataSource: {
                                                "chart": {
                                                    "theme": "fint",
                                                    "radarfillcolor": "#ffffff",
                                                },
                                                "categories": [{
                                                    "category": [{
                                                        "label": "Happy"
                                                    }, {
                                                        "label": "Sad"
                                                    }, {
                                                        "label": "Angry"
                                                    }]
                                                }],
                                                "dataset": [{
                                                    "seriesname": "Classification",
                                                    "data": [{
                                                        "value": "{{tweet['groups']['happy']}}"
                                                    }, {
                                                        "value": "{{tweet['groups']['sad']}}"
                                                    }, {
                                                        "value": "{{tweet['groups']['angry']}}"
                                                    }]
                                                }]
                                            }
                                        }
                                    );
                                    fusioncharts.render();
                                });
                            </script>

                            <div id="radar2_{{tweet['tweet_id']}}" class="col-md-4"></div>

                            <script type="text/javascript">
                                FusionCharts.ready(function () {
                                    var fusioncharts = new FusionCharts({
                                            type: 'bar2d',
                                            renderAt: "bars_{{tweet['tweet_id']}}",
                                            width: '100%',
                                            height: '100%',
                                            dataFormat: 'json',
                                            dataSource: {
                                                "chart": {
                                                    "caption": "Totals",
                                                    "paletteColors": "#0075c2",
                                                    "bgColor": "#ffffff",
                                                    "showBorder": "0",
                                                    "showCanvasBorder": "0",
                                                    "usePlotGradientColor": "0",
                                                    "plotBorderAlpha": "10",
                                                    "placeValuesInside": "1",
                                                    "valueFontColor": "#ffffff",
                                                    "showAxisLines": "1",
                                                    "axisLineAlpha": "25",
                                                    "divLineAlpha": "10",
                                                    "alignCaptionWithCanvas": "0",
                                                    "showAlternateVGridColor": "0",
                                                    "captionFontSize": "14",
                                                    "subcaptionFontSize": "14",
                                                    "subcaptionFontBold": "0",
                                                    "toolTipColor": "#ffffff",
                                                    "toolTipBorderThickness": "0",
                                                    "toolTipBgColor": "#000000",
                                                    "toolTipBgAlpha": "80",
                                                    "toolTipBorderRadius": "2",
                                                    "toolTipPadding": "5"
                                                },

                                                "data": [{
                                                    "label": "{{tweet['sentiments'][0][0]}}",
                                                    "value": "{{tweet['sentiments'][0][1]}}"
                                                }, {
                                                    "label": "{{tweet['sentiments'][1][0]}}",
                                                    "value": "{{tweet['sentiments'][1][1]}}"
                                                }, {
                                                    "label": "{{tweet['sentiments'][2][0]}}",
                                                    "value": "{{tweet['sentiments'][2][1]}}"
                                                }, {
                                                    "label": "{{tweet['sentiments'][3][0]}}",
                                                    "value": "{{tweet['sentiments'][3][1]}}"
                                                }, {
                                                    "label": "{{tweet['sentiments'][4][0]}}",
                                                    "value": "{{tweet['sentiments'][4][1]}}"
                                                }]
                                            }
                                        }
                                    );
                                    fusioncharts.render();
                                });
                            </script>

                            <div id="bars_{{tweet['tweet_id']}}" class="col-md-4"></div>
                        </div>

                        <div class="row">
                            <div class="col-md-9"></div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-success" name="action" value="finish">Finish
                                </button>
                                <button type="submit" class="btn btn-success" name="action" value="next">Next</button>
                                <button type="submit" class="btn btn-success" name="action" value="skip">Skip >>
                                </button>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="lang" value="en">
                    <input type="hidden" name="tweet_id" value="{{tweet['tweet_id']}}">
                </form>
            </div>

        </div>
    </div>

</main>
{% include 'foot.html' %}